/*******************************
 *	 Rewrite bootstrap stylesheet 
 *******************************/
.nav-tabs {
	border-bottom: none;
}
.nav-tabs>li {
	padding: 0;
}
.nav>li>a {
	padding: 4px 15px;
	text-align: center;
	color: #F0E9D6;
	background: black;
	border: 1px solid #D2BD90;
	border-radius: 0;
	margin-right: 0;
	z-index: 690;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #2B2216;
	border: 1px solid #D2BD90;
	border-radius: 0;
	background: -webkit-linear-gradient(150deg, #AE8F5B, #DBCA94, #AE8F5B);
	background: -moz-linear-gradient(150deg, #AE8F5B, #DBCA94, #AE8F5B);
	background: -o-linear-gradient(150deg, #AE8F5B, #DBCA94, #AE8F5B);
	background: -ms-linear-gradient(150deg, #AE8F5B, #DBCA94, #AE8F5B);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AE8F5B', endColorstr='#DBCA94',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(150deg, #AE8F5B, #DBCA94, #AE8F5B);
	z-index: 700;
}

.nav-tabs>li>a:hover {
	color: #2B2216;
	background-color: #D2BD90;
	border-color: transparent;
}

.form-group {
  margin-bottom: 8px;
  margin-top: 8px;
}

.dropdown-menu {
	max-height: 135px;
	overflow-y: scroll;
	background-color:rgba(255,255,255,0.8);
	width: 100%;
}

.dropdown-menu>li>a {
	color: #281F10;
}
/***************************************
 *			 Local style 
 ***************************************/
.brand {
	margin: 1px 0 1px;
}

.brand h2 a {
  background: url(../img/logo-white.svg) 0 0 no-repeat;
    filter:alpha(Opacity=26); -moz-opacity:0.26; opacity: 0.26;
    -webkit-background-size: contain;
  background-size: contain;
  display: block;
  margin: -5px 1px 1px 20px;
  position: relative;
  text-indent: -1000px;
  /* width: 88%; */
  min-height: 0.7em;
  font-size: 1.5em;
}

.top-space {
	height: 36px;
	position: relative;
}
.bottom-space {
	height: 36px;
	position: relative;
}
#selector-group {
	padding: 10px;
}

.prov-selector, .city-selector {
	background-color: #2C2411;
	border: 1px solid #B09356;
	margin-bottom: 5px;
	padding-right: 25px;
	margin-right: 5px;
	margin-left: 5px;
}

#prov-dropdown, #city-dropdown {
	padding: 0;
}
.shadow-effect:before {
	position: absolute;
	content: "#";
	left: 5px;
	right: 5px;
	top: 50%;
	bottom: 0px;
	z-index: 0;
	background: #2C2411;
	border-radius: 100px/10px;
	box-shadow:0px 0px 10px 1px rgba(0,0,0,0.8);
	-webkit-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.8);
	-moz-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.8);
	-o-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.8);
}

.shadow-effect:after {
	position: absolute;
	content: "#";
	left: 5px;
	right: 5px;
	top: 50%;
	bottom: 0px;
	z-index: 0;
	background: #2C2411;
	border-radius: 100px/10px;
	box-shadow:0px 0px 10px 1px rgba(0,0,0,0.8);
	-webkit-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.8);
	-moz-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.8);
	-o-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.8);
}

#prov-input, #city-input {
	background-color: black;
	border: none;
	border-bottom: 1px solid #2C2411;
	z-index: 2;
	padding-top: 0;
	padding-bottom: 0;
	color: #C2A86E;
}

.input-group {
	border-top: none;
	border-left: none;
	border-right: none;
}

.select-label {
	margin-top: 6px;
	color: white;
}

/* Button Style */

.input-group-btn {
	position: relative;
}
.btn-akqa {
	color: #FFFEAE;
	background-color: #D1BD89;
	border: none;
	border-bottom: 2px solid #CDB885;
	z-index: 1;
	position: relative;
	display: table-cell;
}

#search-btn {
	color: #2B2216;
	font-size: 1.2em;
	height: 53px;
	background: -webkit-linear-gradient(to right, #C2A86E, #AC8A53)
	background: -moz-linear-gradient(to right, #C2A86E, #AC8A53)
	background: -o-linear-gradient(to right, #C2A86E, #AC8A53)
	background: -ms-linear-gradient(to right, #C2A86E, #AC8A53)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C2A86E', endColorstr='#AC8A53',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(to right, #C2A86E, #AC8A53)
}

.weak-icon {
	color: rgba(255,255,255,0.2);
	height: 50%;
	width: auto;
}

.glyphicon-search {
	padding-right: 12px;
	padding-left: 5px;
}

#map-tab, #list-tab {
	z-index: 700;
	margin-bottom: 0;
}

.triangle-tab:after {
	content: " ";
    position: absolute;
    bottom: -6px;
    left: 45%;
    overflow: hidden;
    width: 13px;
    height: 13px;
	z-index: 700;
	background: black;
    border-bottom: 1px solid #D2BD90;
    border-right: 1px solid #D2BD90;
	box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.8);
	-webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.8);
	-moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.8);
	-o-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.8);
	/* Rotate by 45 drgree.*/
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
	/* IE 7-9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(
	    M11=0.7071067811865475,
		M12=-0.7071067811865477,
		M21=0.7071067811865477,
		M22=0.7071067811865475,
	SizingMethod='auto expand')";
	filter: progid:DXImageTransform.Microsoft.Matrix(
	      M11=0.7071067811865475,
	      M12=-0.7071067811865477,
	      M21=0.7071067811865477,
	      M22=0.7071067811865475,
	SizingMethod='auto expand');
}

.triangle-tab.active:after,.triangle-tab:hover:after, .triangle-tab:focus:after {
    background: #D2BD90;
	z-index: 600;
}

#baidu-map-plugin {
	min-height: 350px;
	height: 450px;
	background-color: #D8C597;
	border-radius: 0px;
	border: none;
	padding: 0 0 0 0;
	border-top: 0px solid #D8C597;
	position: relative;
}


#baidu-map-plugin:before {
	box-shadow: 0px 2px 14px 4px black;
	-webkit-box-shadow: 0px 2px 14px 4px black;
	-moz-box-shadow: 0px 2px 14px 4px black;
	-o-box-shadow: 0px 2px 10px 4px black;
	z-index: 500;
	content: " ";
	position: absolute;
	top: -2px;
	left: 0px;
	right: 0px;
	height: 2px;
	background-color: #D2BD90;
}

#map-pane, #list-pane {
	height: 100%;
	background-color: rgba(255,255,255,1);
	margin: 0;
	z-index: 600;
}

#list-pane {
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 10px 8px;
}
#list-pane ol{
	list-style: none;
	display: block;
}

#list-pane ol li {
	padding-bottom: 12px;
}

li .map-marker{
	background: url(../img/markers.png) -23px 0px no-repeat;
	width: 19px;
	height: 25px;
	cursor: pointer;
	float: left;
	overflow: hidden;
	margin: 2px 6px 6px 10px;
	display: inline;
}
