.page-header h1 a {
  background: url(../img/logo.svg) 0 0 no-repeat;
    -webkit-background-size: 100% auto;
  background-size: 100% auto;
    display: block;
  float: left;
    height: 32px;
  margin: -3px 1px 1px 2px;
    position: relative;
  text-indent: -1000px;
    width: 64px;
}

#baidu-map-plugin {
	height: 450px;
}

#map-pane, #list-pane {
	height: 100%;
}

.dropdown-menu {
	max-height: 140px;
	overflow-y: scroll;
}
